
.tonegrid {

    width: 20px * 20;
    overflow: hidden;

    label {
        display: block;
    }

    .tonegrid-label {
        display: block;
        width: 20px;
        height: 20px;
        background-color: #eee;
        vertical-align: top;
        box-sizing: border-box;
        border: 0px solid #fff;
        border-radius: 10px;
        transition: all .1s ease 0s;

        &:hover {
            border: 2px solid #999;
        }
    }


    input[type=checkbox] {
        display: none;

        &:checked + .tonegrid-label {
            background-color: #390;
        }
    }

    .tonegrid-frame {
        width: 20px;
        height: 20px * 20;
        float: left;
        line-height: 20px;

        &.active {
            .tonegrid-label {
                background-color: #f9f9f9;
            }
            :checked + .tonegrid-label {
                background-color: lighten(#390, 50);
                transform: scale(1.3);
            }
        }
    }

}