.tonegrid {
  width: 400px;
  overflow: hidden;
}
.tonegrid label {
  display: block;
  padding: 1px;
}
.tonegrid .tonegrid-label {
  display: block;
  width: 18px;
  height: 18px;
  background-color: #333;
  vertical-align: top;
  box-sizing: border-box;
  border-radius: 10px;
}
.tonegrid .tonegrid-label:hover {
  border: 2px solid #999;
}
.tonegrid input[type=checkbox] {
  display: none;
}
.tonegrid input[type=checkbox]:checked + .tonegrid-label {
  background-color: #390;
}
.tonegrid .tonegrid-frame {
  width: 20px;
  height: 400px;
  float: left;
  line-height: 20px;
}
.tonegrid .tonegrid-frame.active .tonegrid-label {
  background-color: #444;
}
.tonegrid .tonegrid-frame.active :checked + .tonegrid-label {
  background-color: #bbff99;
  border: 1px solid #fff;
  box-shadow: 0px 0px 16px #bbff99;
  transform: scale(1.3);
}
